<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <patterns>%d{HH:mm:ss.SSS} [%thread] %-5leverl %logger{36} - %msg%n</patterns>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>